body{
background:#0b0f1a;
color:white;
font-family:sans-serif;
margin:0;
padding:10px;
}

.card{
background:#141a2b;
margin:10px;
padding:10px;
border-radius:10px;
cursor:pointer;
}

img{
width:100%;
border-radius:10px;
}
