body{
background:#0b0b0b;
color:white;
font-family:sans-serif;
padding:20px;
}

.grid{
display:grid;
grid-template-columns:
repeat(auto-fill,minmax(150px,1fr));
gap:15px;
}

.card{
background:#1a1a1a;
padding:10px;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
border-radius:8px;
}

.episode{
background:#222;
padding:10px;
margin:5px 0;
cursor:pointer;
border-radius:6px;
}

.episode:hover{
background:#444;
}
